.main-nav {
	width: 75%;
	@include row();
	align-items: center;
	@include breakpoint(medium down) {
		width: 52%;
		justify-content: flex-end;
	}
	&__list {
		width: 100%;
		@include row();
		justify-content: space-between;
		@include breakpoint(medium down) {
			padding: rem-calc(10);
			display: none;
			max-width: rem-calc(300);
			position: absolute;
			top: 120%;
			right: rem-calc(15);
			background: $main-nav-bg;
			&::after {
				width: 0px;
				height: 0px;
				position: absolute;
				top: 0%;
				right: rem-calc(22);
				content:'';
				transform: translate(0%, -100%);
				border-left:7px solid transparent;
				border-right:7px solid transparent;
				border-bottom:7px solid $main-nav-bg;
			}
		}  
	}
	&__item {
		@include breakpoint(medium down) {
			width: 100%;
			display: block;
		}
	}
	&__link {
		display: block;
		@include text-bold(16);
		line-height: rem-calc(24);
		&:hover, &:focus {
			color: $yellow;
		}
		@include breakpoint(medium down) {
			margin-bottom: rem-calc(5);
			width: 100%;
			display: block;
		}
	}
	&__toggle {
		display:none;
		&:hover {
			color: $yellow;
		}
		@include breakpoint(medium down) {
			padding: 20px;
			display: inline-block;
			background: transparent;
			color: $white;
			font-size: 20px;
			transition: color linear 0.15s;  
		}
	}
}
