// Font-family 
@font-face {
    font-family:'Eurostile LT Std - Demi';
    src: url('../fonts/EurostileLTStd-Demi.eot');
		src: url('../fonts/EurostileLTStd-Demi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/EurostileLTStd-Demi.woff2') format('woff2'),
		url('../fonts/EurostileLTStd-Demi.woff') format('woff'),
		url('../fonts/EurostileLTStd-Demi.svg#EurostileLTStd-Demi') format('svg');
    font-weight: 400;
}

//fonts variables
$primary-font-family: 'Eurostile LT Std - Demi', 'Arial', sans-serif;
$second-font-family: 'Arial', sans-serif;

//fonts mixins
@mixin text-bold($px) {
  color: $white;
  font-family: $second-font-family;
  font-size: rem-calc($px);
  font-weight: 700;
  text-transform: capitalize;
}

@mixin text-regular() {
  color: $white;
  font-family: $second-font-family;
  font-size: rem-calc(12);
  font-weight: 400;
  text-transform: capitalize;
}

@mixin title($px, $color) {
  color: $color;
  font-family: $primary-font-family;
  font-size: rem-calc($px);
  font-weight: 400;
}

@mixin text($color) {
  color: $color;
  font-family: $second-font-family;
  font-size: rem-calc(16);
  line-height: rem-calc(24);
  font-weight: 400;
}

@mixin text-italics($px) {
  color: $black;
  font-family: $second-font-family;
  font-size: rem-calc($px);
  font-weight: 400;
  font-style: italic;
}







