// Font-family 
@font-face {
    font-family:'Eurostile LT Std - Demi';
    src: url('../fonts/EurostileTRegExt.eot');
		src: url('../fonts/EurostileTRegExt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/EurostileTRegExt.woff2') format('woff2'),
		url('../fonts/EurostileTRegExt.woff') format('woff'),
		url('../fonts/EurostileTRegExt.svg#EurostileTRegExt') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-EA6A;
}

@font-face {
    font-family:'Helvetica';
    src: url('../fonts/Helvetica.eot');
		src: url('../fonts/Helvetica.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Helvetica.woff2') format('woff2'),
		url('../fonts/Helvetica.woff') format('woff'),
		url('../fonts/Helvetica.svg#Helvetica') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2215;
}

//font-awesome
// $fa-font-path:  "../fonts";
// @import "../../../node_modules/font-awesome/scss/font-awesome";

//fonts variables
$primary-font-family: 'Eurostile LT Std - Demi', 'Arial', sans-serif;
$second-font-family: 'Helvetica', 'Arial', sans-serif;

//fonts mixins
@mixin link($px) {
  color: $white;
  font-family: $second-font-family;
  font-size: rem-calc($px);
  font-weight: 700;
  text-transform: capitalize;
  // line-height: 1.3; 
}

// @mixin text($px, $color) {
//   color: $color;
//   font-family: $primary-font;
//   font-size: rem-calc($px);
//   font-weight: 300;
//   line-height: 1.3; 
// }
// @mixin title($px, $color) {
//   color: $color;
//   font-family: $primary-font;
//   font-size: rem-calc($px);
//   font-weight: 400;
//   line-height: 1.3; 
// }





