.search-form {
	margin-bottom: rem-calc(5);
	width: 100%;
	background-color: $yellow;
	&__container {
		padding: rem-calc(32) rem-calc(44) rem-calc(20);
		@include row();
		justify-content: space-between;
	}
	&__wide {
		margin-bottom: rem-calc(12);
		position: relative;
		&--icon {
			padding-left: rem-calc(22);
			&::before {
				content: "";
				position: absolute;
				width: rem-calc(28);
				height: rem-calc(56);
				@include bg('../img/shape-3.svg');
				background-size: contain;
				top: 0;
				bottom: 0;
				left: rem-calc(-24);
				margin: auto;
			}
			@include breakpoint(medium) {
				padding-left: rem-calc(62);
				&::before {
					width: rem-calc(38);
					top: 0;
					bottom: 0;
					left: 0;
					margin: auto;
				}
			}
		}
	}
	&__narrow {
		@include row();
		align-items: center;
		@include breakpoint(large) {
			padding-left: rem-calc(20);
		}
	}
	&__title {
		margin-bottom: rem-calc(8);
		@include title(30, $black);
		line-height: rem-calc(42);
		@include breakpoint(medium) {
			font-size: rem-calc(38);
		}
	}
	&__text {
		@include text-bold(16);
		line-height: rem-calc(18);
		color: $black;
	}
	&__form {
		font-size: 0;
		@include row();
		align-items: center;
	}
	&__input {
		padding: rem-calc(17);
		margin-right: rem-calc(10);
		margin-bottom: rem-calc(12);		
		width: rem-calc(259);
		height: rem-calc(54);
		@include text-bold(18);
		line-height: rem-calc(54);
		color: $black;
		border: 1px solid $light-gray;
		background-color: $white; 
		cursor: pointer;
		@include placeholder(400);
		transition: all .4s ease-out;
		&:hover {
			cursor: pointer;
			box-shadow:0 0 5px $light-gray;
		}
		&:focus {
			cursor: auto;
			@include placeholder-hov();  
		}
	}
	&__btn {
		margin-bottom: rem-calc(12);
		font-size: rem-calc(18);
		@include btn($white, 38, 54);
		text-transform: capitalize;
		color: $white;
	}
}