.three-col-icon-info {
	width: 100%;
	@include col();
	align-items: center;
	border-bottom: 1px solid $border-bt;
	&__wrap {
		// margin-bottom: rem-calc(28);
		@include row();
    justify-content: flex-start;
   	// border-bottom: 1px solid $border-bt;
	}
	&__item {
		margin-bottom: rem-calc(32);
		width: 33.33%;
		padding: rem-calc(16);
		@include col();
		align-items: center;
		@include breakpoint(small only) {
			width: 100%;
			// padding: 0;
		}
		@include breakpoint(medium only) {
			width: 50%;
		}
		@include breakpoint(large) {
			// padding: rem-calc(0);
		}
	}
	&__img {
		margin-bottom: rem-calc(2);
		max-width: rem-calc(84);
		max-height: rem-calc(84);
	}
	&__title {
		margin-bottom: rem-calc(6);
		@include title(20, $black);
		text-align: center;
	}
	&__text {
		@include text($black);
		text-align: center;
	}
	&__btn {
		margin-bottom: rem-calc(37);
		@include btn($black, 54, 62);
	}

}




