.title-text {
	padding: rem-calc(40) 0 0;
	margin-bottom: rem-calc(26);
	@include breakpoint(medium) {
		min-width: rem-calc(460);
	}
	@include col();
	align-items: flex-start;
	&--center {
		margin: 0 auto rem-calc(26);
		align-items: center;
	}
	&__title {
		margin-bottom: rem-calc(6);
		@include title(32, $red);
		line-height: rem-calc(34);
		&--white {
			margin-bottom: rem-calc(8);
			color: $white;
			text-align: left;
		}
	}
	&__text {
		@include text($black);
		text-align: center;
		text-align: left;
		&--center {
			max-width: rem-calc(450);
			text-align: center;
		}
		&--white {
			max-width: rem-calc(588);
			color: $white;
		}
		&--left {
			margin-bottom: rem-calc(22);
		}
	}
}